*{
    margin: 0;
    font-family: 'M PLUS 1', 'Spoqa Han Sans Neo', 'sans-serif';
    background-color: #F6F6F6;
}
/* topbar position: sticky; 테스트 */
body{
    height: 2000px;
}
.base_body_margin{
    margin: 0 100px;
}

a:link{color: black; text-decoration: none;}
a:visited{color: black}
/* top_bar */
.index_base_topbar{
    top: 0;
    height: 65px;
    padding: 0 20px 0 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    z-index: 1000;
}
.index_base_topbar form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 검색창 border-radius 적용 하기 */
.topbar_search input{
    width: 300px;
    height: 35px;
    /* padding-left: 10px; */

    background: #EEEEEE;
    box-sizing: border-box;

    border: 3px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(to right, #FC9D9D, #FCD69D);
        /* linear-gradient(to right, #FC9D9D, #FCD69D); */
    border-image-slice: 2;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.index_base_topbar label{
    cursor: pointer;
}
.navigation_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation_icon a{
    margin: 0 10px 0 10px;
}
.top_bar_icon{
    width: 30px;
    height: 30px;
}
.search_btn{
    border: none;
}
.top_bar_user{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;

    box-sizing: border-box;
    border: solid 1px lightgray;
    border-radius: 50%;
}
.triangle{
    width: 15px;
    height: 15px;

    top: 55px;
    right: 37px;
    position: fixed;
    /* border: solid 1px gray; */
    transform: rotate(45deg);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.user_popup{
    top: 60px;
    right: 20px;

    width: 120px;
    height: 90px;
    padding: 10px;

    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    /* background: #FFFFFF; */
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
/* .user_popup:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -15px;
	margin-top: -15px;
} */
.user_popup button{
    border: none;
}
/* 게시물 생성 팝업창 */
.plus_background{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    /* 숨기기 */
    z-index: -1000;
    opacity: 0;
}
/* 팝업창 활성화 */
.show{
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}
/* 팝업창 활성화 시 스크롤 숨김 */
.scroll_hidden{
    overflow: hidden;
}
/* 팝업창 비활성화 시 팝업창 영역 숨김 */
.none{
    display: none;
}
.hidden{
    display: hidden;
}
.plus_container{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.plus_popup{
    position: absolute;
    top: 50%;
    left: 50%;

    /* popup box */
    width: 450px;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    
    /* bottom up */
    transform: translate(-50%, -40%);
}
.plus_popup *{
    background-color: #FFFFFF;
}
.show .plus_popup{
    transform: translate(-50%, -50%);
    transition: all .5s;
}
#plus_icon_btn{
    padding: 0;
    margin: 0 10px 0 10px;

    border: none;
    cursor: pointer;
}
.popup_header{
    width: 100%;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_bar_icon.close{
    display: flex;
}
.popup_header span{
    position: fixed;
    left: 40%;
}
.popup_txt{
    width: 100%;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}
.popup_txt textarea{
    width: 100%;
    height: 250px;
    padding: 10px;

    resize: none;

    box-shadow: inset 0px 0px 10px 
        1px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
}
.plus_popup span{
    padding: 5px 0 5px 0;
}
.popup_file{
    width: 100%;
    height: 100%;
    padding: 5px 7px;
    margin: 5px 0;
    
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}
.popup_file_input{
    width: 100%;

    display: flex;
    justify-content: center;
}
#file_container{
    width: fit-content;

    display: flex;
    align-items: center;
    flex-direction: row;

    overflow: auto;
}
.file_preview{
    width: 100%;
    height: 100%;
    padding-right: 5px;

    position: relative;
    display: flex;
    justify-content: flex-end;
}
.file_preview img{
    width: 120px;
    height: 120px;
    left: 0;

    object-fit: cover;
}
.file_preview span{
    width: 21px;
    height: 16px;
    padding: 0 0 5px 0;
    margin: 3px;

    cursor: pointer;
    border: solid 1px gray;
    border-radius: 50%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#popup_input_file{
    display: none;
}
.input_file_btn{
    margin-bottom: 5px;
    font-size: 15px;

    cursor: pointer;
    padding: 5px 10px;

    color: #FFFFFF;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: #46A6FF;
}
.file_add_btn{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}
#popup_submit{
    display: none;
}
.popup_submit_btn{
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(252, 214, 157, 0.7) 0%, rgba(252, 157, 157, 0.7) 100%);
    box-shadow: inset 0px 0px 1px 1px rgb(255 255 255);
}
.popup_submit_btn:hover{
    font-size: 13px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
        linear-gradient(90deg, rgba(252, 214, 157, 0.7) 0%, rgba(252, 157, 157, 0.7) 100%);
}
#close_icon_btn{
    position: relative;
    padding: 0;

    border: none;
    cursor: pointer;
}
/* index */
.index_container{
    z-index: 500;
}
.both_layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.both_layout_content{
    width: 500px;

    margin-left: 15px;
    margin-right: 15px;
}
.empty_content{
    color: gray;
}
.both_layout_friend{
    width: 300px;

    margin-left: 15px;
    margin-right: 15px;
}
/* search */
.search_container{
    margin-bottom: 70px;
}
.search_user{
    height: 70px;
    margin: 13px 0;

    display: flex;
    align-items: center;
}
/* friend */
.friend{
    margin-bottom: 20px;
}
.friend_container{
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}
.friend_container h3{
    margin-bottom: 20px;
}
.request_status{
    display: flex;
    overflow: auto;
}
.empty_request_friend{
    height: 160px;

    color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}
.request_friend{
    margin: 0 15px 15px 0;
}
.friend_hr{
    margin: 50px 0;
    background: gray;
}
.user_friend{
    display: flex;
    flex-wrap: wrap;
}
.friend_user_container{
    width: 140px;
    height: 210px;
    padding: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: lightgray;
    border-radius: 10px;
}
.friend_user_image{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;

    border-radius: 50%;
}
.friend_user_name{
    font-weight: 500;
    margin-bottom: 10px;
    background: lightgray;
}
#request_button{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: lightgray;
}
/* .friend_button{
    cursor: pointer;
    padding: 5px 10px;

    color: #FFFFFF;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: #46A6FF;
} */
.button_area button{
    padding: 5px 20px;
    cursor: pointer;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
}
#request_button button{
    padding: 5px 20px;
    cursor: pointer;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
}
#accept_btn{
    margin-right: 5px;

    color: #FFFFFF;
    background: #46A6FF;
}
#reject_btn{
    background: lightgray;
}
#delete_btn{
    color: #FFFFFF;
    background: gray;
}
.request_btn_p{
    font-size: 15px;
    text-align: center;

    background: lightgray;
}
#delete_friend{
    background: lightgray;
}
.friend_recommend{
    min-width: 300px;
    
    margin-left: 40px
}
/* user */
.user_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_background{
    width: 100%;
    height: 300px;
    margin-top: -50px;

    background: lightgray;
}
.user_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_image{
    width: 200px;
    height: 200px;
    
    border: solid 1px lightgray; 
    border-radius: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile_container{
    width: 100%;
    margin-bottom: 50px;
    
    display: flex;
}
.user_information{
    width: 100%;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.user_name_friend{
    vertical-align: baseline;

    display: flex;
    align-items: flex-end;
}
.user_name{
    margin-right: 10px;
}
.user_setting{
    display: flex;
    align-items: center;
}
.profile_edit button{
    padding: 6px 10px;

    border: solid 1px lightgray;
    border-radius: 5px;
    background: #DADADA;
}
.search_user_image{
    width: 65px;
    height: 65px;
    margin-right: 10px;

    border: solid 1px #8f8f8f;
    border-radius: 50%;
}
.information_container{
    width: 600px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.user_name_id{
    width: 160px;
}
.user_name{
    font-size: 18px;
    font-weight: bold;
}
.user_id{
    font-size: 13px;
    color: gray;
}
.user_introduce{
    width: 100%;
}
.user_introduce h4{
    color: gray;
    font-weight: 500;
}
.user_introduce_text{
    width: 100%;
    height: 80px;

    border: solid 1px lightgray;
    border-radius: 5px;
}
/* setting */
.setting{
    padding-right: 100px;
}
.setting_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.setting h2{
    margin-bottom: 30px;
}
.setting_nav_btn{
    width: 150px;
    height: 65px;
    padding: 5px;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: solid 1px lightgray;
    font-size: 15px;
}
.setting_area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.setting_nav2{
    width: 100%;
    padding: 50px 0 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    border: solid 1px lightgray;
}
.setting_nav2 form{
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.setting_nav2 form > *{
    margin-bottom: 10px;
}
.profile_image{
    overflow: hidden;
}
.profile_image_input{
    object-fit: cover;
}
.background_image{
    width: 300px;
    height: 150px;

    box-sizing: border-box;
    border: solid 1px lightgray;
    overflow: hidden;
}
.background_image_input{
    object-fit: cover;
}