*{
    margin: 0;
    font-family: 'M PLUS 1', 'Spoqa Han Sans Neo', 'sans-serif';
    background-color: #F6F6F6;
}
/* topbar position: sticky; 테스트 */
body{
    height: 2000px;
}
a:link{color: black; text-decoration: none;}
a:visited{color: black}
/* top_bar */
.index_base_topbar{
    top: 0;
    height: 65px;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    z-index: 1000;
}
.index_base_topbar form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 검색창 border-radius 적용 하기 */
.topbar_search input{
    width: 300px;
    height: 35px;
    /* padding-left: 10px; */

    background: #EEEEEE;
    box-sizing: border-box;

    border: 3px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(to right, #FC9D9D, #FCD69D);
        /* linear-gradient(to right, #FC9D9D, #FCD69D); */
    border-image-slice: 2;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.index_base_topbar label{
    cursor: pointer;
}
.navigation_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation_icon a{
    margin: 0 10px 0 10px;
}
.top_bar_icon{
    width: 30px;
    height: 30px;
}
/* 게시물 생성 팝업창 */
.plus_background{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    /* 숨기기 */
    z-index: -1000;
    opacity: 0;
}
    /* 팝업창 활성화 */
.show{
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}
    /* 팝업창 활성화 시 스크롤 숨김 */
.hidden{
    overflow: hidden;
}
    /* 팝업창 비활성화 시 팝업창 영역 숨김 */
.none{
    display: none;
}
.plus_container{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}
.plus_popup{
    position: absolute;
    top: 50%;
    left: 50%;

    /* popup box */
    width: 450px;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    
    /* bottom up */
    transform: translate(-50%, -40%);
}
.plus_popup *{
    background-color: #FFFFFF;
}
.show .plus_popup{
    transform: translate(-50%, -50%);
    transition: all .5s;
}
#plus_icon_btn{
    padding: 0;
    margin: 0 10px 0 10px;

    border: none;
    cursor: pointer;
}
.popup_header{
    width: 100%;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_bar_icon.close{
    display: flex;
}
.popup_header span{
    position: fixed;
    left: 40%;
}
.popup_txt{
    width: 100%;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}
.popup_txt textarea{
    width: 100%;
    height: 250px;
    padding: 10px;

    resize: none;

    box-shadow: inset 0px 0px 10px 
        1px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
}
.plus_popup span{
    padding: 5px 0 5px 0;
}
.popup_file{
    width: 100%;
    height: 100%;
    padding: 5px 7px;
    margin: 5px 0;
    
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}
.popup_file_input{
    width: 100%;

    display: flex;
    justify-content: center;
}
#file_container{
    width: fit-content;

    display: flex;
    align-items: center;
    flex-direction: row;

    overflow: auto;
}
.file_preview{
    width: 100%;
    height: 100%;
    padding-right: 5px;

    position: relative;
    display: flex;
    justify-content: flex-end;
}
.file_preview img{
    width: 120px;
    height: 120px;
    left: 0;

    object-fit: cover;
}
.file_preview span{
    width: 21px;
    height: 16px;
    padding: 0 0 5px 0;
    margin: 3px;

    cursor: pointer;
    border: solid 1px gray;
    border-radius: 50%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#popup_input_file{
    display: none;
}
.input_file_btn{
    margin-bottom: 5px;
    font-size: 15px;

    cursor: pointer;
    padding: 5px 10px;

    color: #FFFFFF;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: #46A6FF;
}
.file_add_btn{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}
#popup_submit{
    display: none;
}
.popup_submit_btn{
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(252, 214, 157, 0.7) 0%, rgba(252, 157, 157, 0.7) 100%);
    box-shadow: inset 0px 0px 1px 1px rgb(255 255 255);
}
.popup_submit_btn:hover{
    font-size: 13px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
        linear-gradient(90deg, rgba(252, 214, 157, 0.7) 0%, rgba(252, 157, 157, 0.7) 100%);
}
#close_icon_btn{
    position: relative;
    padding: 0;

    border: none;
    cursor: pointer;
}
/* index */
.index_container{
    z-index: 500;
}
.both_layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content_container{
    margin-right: 30px;
}
.empty_content{
    color: gray;
}
.layout_right{
    margin-left: 30px;
}
/* search */
.search_container{
    margin: 0 0 30px 70px;
}
.content_container{
    width: 400px;
}
.search_user{
    height: 70px;
    margin: 13px 0;

    display: flex;
    align-items: center;
}
/* friend */
.friend_button{
    cursor: pointer;
    padding: 5px 10px;

    color: #FFFFFF;
    border: solid 1px lightgray;
    border-radius: 5px;
    background: #46A6FF;
}
/* user */
.user_background{
    width: 100%;
    height: 300px;
    margin-top: -50px;

    background: lightgray;
}
.user_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_profile_image{
    display: flex;
}
.user_profile_edit{
    display: flex;
    flex-direction: row;
}
.user_profile_img{
    width: 65px;
    height: 65px;
    margin-right: 10px;

    border: solid 1px #8f8f8f;
    border-radius: 50%;
}
.user_name_id{
    width: 160px;
}
.user_name{
    font-size: 18px;
    font-weight: bold;
}
.user_id{
    font-size: 13px;
    color: gray;
}
/* setting */
.setting{
    margin-left: 300px;
    display: flex;
    justify-content: left;
}