{% extends 'index_base.html' %}
{% block friend %}
<div class="base_body_margin">
    <h2>친구 목록</h2>
</div>
<div class="base_body_margin both_layout">
    <div class="both_layout_content friend_list">
        <h3>새로운 친구 요청</h3>
        <div class="request_status">
            <!-- 친구 요청에 따른 페이지 구성 -->
            {% if request_friend|length == 0 %}
            <div class="empty_request_friend">
                <p>새로운 친구 요청이 없습니다.</p>
            </div>
            {% else %}
                {% for friend in request_friend %}
                <div>
                <!-- <form action="/friend_respond" method="post" name="request_friend" class="request_friend"> -->
                    <div class="friend_user_container">
                        <div class="friend_user_image">image</div>
                        <div class="friend_user_name">friend_user_name</div>
                        <!-- js 요청 수락/거절 버튼 -->
                        <div id="request_button" value="{{ friend }}">
                            <button id="accept_btn" name="accept" class="request_button accept">수락</button>
                            <button id="reject_btn" name="reject" class="request_button reject">거절</button>
                        </div>
                    </div>
                <!-- </form> -->
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <h3>친구 목록</h3>
        <div>
            기존 친구 목록
        </div>
    </div>
    <div class="both_layout_friend friend_recommend">
        친구 추천 목록
    </div>
</div>
<script src="../static/js/friend.js" defer="defer"></script>
{% endblock %}