<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>YDP-SNS</title>

    <link rel="stylesheet" href="../static/css/index_base_light.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="index_base_topbar">
        <a href="/"><h2>SNS Project</h2></a>
        <form action="">
            <input type="text" id="search_input" placeholder="검색">
            <label for="search_input">
                <img src="../static/img/search.png" alt="search_icon">
            </label>
        </form>
        <div class="navigation_icon">
            <a href="/"><img src="../static/img/home.png" alt="home_icon"></a>
            <a href="/friend"><img src="../static/img/friends.png" alt="friend_icon"></a>
            <div name="content_popup">
                <button id="plus_icon_btn"><img src="../static/img/plus.png" alt="plus_icon"></button>
                <div class="plus_background">
                    <div class="plus_container">
                        <div class="plus_popup">
                            <button id="close_icon_btn"><img src="../static/img/close.png" alt="close_icon"></button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/notice"><img src="../static/img/notification.png" alt="notice_icon"></a>
            <a href="/user">사용자 프로필</a> <!-- 프로필,로그아웃,설정 팝업창 -->
        </div>
    </div>
    <div class="both_layout">
        {% block index %}
        {% endblock %}
    </div>
    <div>
        {% block user %}
        {% endblock %}
    </div>
    <div>
        {% block friend %}
        {% endblock %}
    </div>
    <div>
        {% block search %}
        {% endblock %}
    </div>
    <div class="setting">
        {% block setting %}
        {% endblock %}
    </div>

</body>
<script src="../static/js/content.js" defer="defer"></script>