{% extends 'index_base.html' %}
{% block index %}
<div class="both_layout_content">
    <span class="empty_content">아직 게시물이 없습니다</span>
    <div id="content" class="index_content">
        <!-- db로 전송한 게시물 업로드 area -->
    </div>
</div>
<div class="both_layout_friend">
    <div class="friend_container">
        <h4>친구 목록</h4>
        {% for user in friend_list %}
            <div class="search_user">
                <div class="search_user_image"></div>
                <div class="user_name_id">
                    <div class="user_name">
                        {{ user.user_name }}
                    </div>
                    <div class="user_id">
                        {{ user.user_id }}
                    </div>
                </div>
                <div class="friend_button_area">
                    <a href="" id="button_a">
                        <input class="friend_button" id="friend_button" value="친구 요청">
                    </a>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>
<!-- <script src="../static/js/index.js" defer="defer"></script> -->
{% endblock %}
