{% extends 'index_base.html' %}
{% block index %}
<div class="index_container">

    <div class="content_container">
        content list
    </div>
    <div class="layout_right">
        <div class="friend_list">
            friend list
        </div>
    </div>
    <!-- 사진 업로드 테스트 -->
    <div class="container mt-3 w-100">
        <div class="card shadow-sm w-100">
            <div class="card-header d-flex justify-content-between">
                <h4>Image Uploading</h4>
                <form class="form" action="/" method="POST" id="form">
                    <input type="file" name="Image" id="image" multiple="" class="d-none" onChange="image_select()">
                    <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                </form>
            </div>
            <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                <!-- Image will be show here-->    	  
            </div>
        </div>
    </div>
    <input type="text">
</div>
<script src="../static/js/index.js" defer="defer"></script>
{% endblock %}
