<!doctype html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>YDP-SNS</title>

    <link rel="stylesheet" href="../static/css/index_base_light.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body class="body">
    <div class="index_base_topbar">
        <div class="top_bar_logo">
            <a href="/"><h2>SNS Project</h2></a>
        </div>
        <div>
            <form method="POST" action="" class="topbar_search">
                <input type="text" name = 'search_input' id="search_input" placeholder="검색">
                <button>
                    <img class="top_bar_icon" src="../static/img/search.png" alt="search_icon">
                </button>
            </form>
        </div>
        <div class="navigation_icon">
            <a href="/"><img class="top_bar_icon" src="../static/img/home.png" alt="home_icon"></a>
            <a href="/friend"><img class="top_bar_icon" src="../static/img/friends.png" alt="friend_icon"></a>
            <div class="content_popup">
                <button id="plus_icon_btn"><img class="top_bar_icon" src="../static/img/plus.png" alt="plus_icon"></button>
                <div class="plus_background none">
                    <form class="plus_container" id="plus_container" method="POST" enctype="multipart/form-data">
                        <div class="plus_popup">
                            <div class="popup_header">
                                <button id="close_icon_btn"><img class="top_bar_icon close" src="../static/img/close.png" alt="close_icon"></button>
                                <span>게시물 작성</span>
                                <input type="submit" id="popup_submit">
                                <label for="popup_submit" class="popup_submit_label">공유하기</label>
                            </div>
                            <div class="popup_txt">
                                <textarea name="popup_txt" placeholder="내용을 입력 해주세요."></textarea>
                            </div>
                            <span>업로드 할 파일 선택</span>
                            <div class="popup_file">
                                <div class="" id="file_container">
                                    <!-- 이미지 미리보기 구역 -->
                                </div>
                                <input type="file" id="popup_input_image" onChange="image_select()" required multiple>
                                <label for="popup_input_file" onclick="document.getElementById('popup_input_image').click()">
                                    <img class="file_add_btn" src="../static/img/file_plus.png" alt="file_plus_icon">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a href="/"><img class="top_bar_icon" src="../static/img/notification.png" alt="notice_icon"></a>
            <a href="/user">
                <div class="user_profile"></div>
            </a> <!-- 프로필,로그아웃,설정 팝업창 -->
        </div>
    </div>
    <div class="both_layout index">
        {% block index %}
        {% endblock %}
    </div>
    <div>
        {% block user %}
        {% endblock %}
    </div>
    <div>
        {% block friend %}
        {% endblock %}
    </div>
    <div>
        {% block search %}
        {% endblock %}
    </div>
    <div class="setting">
        {% block setting %}
        {% endblock %}
    </div>

</body>
<script src="../static/js/popup.js" defer="defer"></script>