{% extends 'login_base.html' %}
{% block login %}
<div>
    <!-- <h2>Log-in</h2> -->
    <form action="">
        <div>
            <label for="id"><h4>E-mail</h4></label>
            <input type="id" placeholder="E-mail" id="user_id" class="login_base_input_box email_icon" required>
        </div>
        <div>
            <label for="password"><h4>Password</h4></label>
            <input type="password" placeholder="Password" id="password"  class="login_base_input_box lock_icon" required>
        </div>
        <div>
            <span>비밀번호를 잊으셨나요?</span>
            <a href="/password_reset">비밀번호 재설정</a>
        </div>
        <div>
            <span>회원가입 하기</span>
            <a href="/join" class="login_join_button">Join</a>
        </div>
        <div  class="login_base_button">
            <input type="submit" id="login_btn">
            <label for="login_btn">Log in</label>
        </div>
    </form>
</div>
{% endblock %}

