{% extends 'login_base.html' %}
{% block password_reset %}
<div class="">
    <!-- <h2>Join</h2> -->
    <form method="POST" action="">
        <div class="join_email">
            <label for="join_email"><h4>E-mail</h4></label>
            <input type="email" placeholder="Email" id="join_email" name='email' class="login_base_input_box email_icon" required>
        </div>
        <div class="user_id">
            <label for="user"><h4>User ID</h4></label>
            <input type="text" placeholder="User ID" id="user_id" name='user_id' class="login_base_input_box user_icon" required>
        </div>
        <div class="login_base_button join_submit">
            <input type="submit" id="join_submit" name="submit_btn" value="join_form">
            <label for="join_submit">비밀번호 변경</label>
        </div>
    </form>
</div>
{% endblock %}