{% extends 'index_base.html' %}
{% block search %}

<div class="search_container">
    <h2>"{{ search }}" 검색 결과</h2>
</div>
<div class="both_layout">
    <div class="content_container">
        <h4>게시물</h4>
    </div>

    <div class="layout_right friend_list">
        <h4>계정</h4>
        {% for user in search_user %}
            <div class="search_user">
                <div class="user_profile_img">
                    <!-- user 검색 결과 프로필 이미지 -->
                    <a>
                    </a>
                </div>
                <div class="user_name_id">
                    <a class="user_name">
                        {{user.name}}
                    </a>
                    <div class="user_id">
                        {{ user.user_id }}
                    </div>
                </div>
                <div class="friend_button_area">
                    <a id="button_a">
                        <input class="friend_button" id="friend_button" value="친구 요청">
                    </a>
                </div>
            </div> 
        {% endfor %}
    </div>
    <!-- 검색어 db 필터링, js 조건문 별로 다른 버튼 생성 -->
</div>
<div id="friend_button_test">
    <input type='button' value='createDiv'onclick='create_btn()'/>
</div>

<script src="../static/js/search.js" defer="defer"></script>
<!-- <script src="../static/js/search_test.js" defer="defer"></script> -->
{% endblock %}