{% extends 'index_base.html' %}
{% block setting %}
<div>
    <h2>설정</h2>
    <div class="setting_container">
        <div class="setting_nav">
            <button id="profile_setting_btn" class="setting_nav_btn">프로필 편집</button>
            <button id="account_setting_btn" class="setting_nav_btn">계정</button>
        </div>
        <div class="setting_area">
            <div class="setting_nav2" id="profile_setting">
                <form action="" class="change_profile_image">
                    <p>프로필 사진 변경</p>
                    <div class="profile_image_box" id="profile_image">
                        <!-- setting.js readURL -->
                        <!-- 기존에 설정해둔 이미지 표시 -->
                        <img src="../static/img/user_profile_gray.png" alt="" class="profile_img">
                    </div>
                    <input type="file" id="profile_image_input" class="none">
                    <label for="profile_image_input" class="setting_label">파일 선택</label>
                    <button type="submit">프로필 사진 저장</button>
                </form>
                <form action="" class="change_background_image">
                    <p>배경 사진 변경</p>
                    <div class="background_image_box">
                        <!-- setting.js readURL -->
                        <!-- 기존에 설정해둔 이미지 표시 -->
                        <img src="" alt="" class="background_img">
                    </div>
                    <input type="file" id="background_image_input" class="none">
                    <label for="background_image_input" class="setting_label">파일 선택</label>
                    <button type="submit">배경 사진 저장</button>
                </form>
                <form action="">
                    <p>별명 변경</p>
                    <input type="text">
                    <button type="submit">별명 저장</button>
                </form>
                <form action="">
                    <p>소개글 수정</p>
                    <input type="text">
                    <button type="submit">소개글 저장</button>
                </form>
            </div>
            <div class="setting_nav2 none" id="account_setting">
                <div class="both_layout">
                    <div>
                        사용자 이름 변경
                    </div>
                    <form action="">
                        <div class="user_id">
                            <input type="text" placeholder="새로운 닉네임" id="setting_id" name='setting_id' class="" required>
                            <label for="setting_id"></label>
                        </div>
                        <button type="submit" id="setting_id_submit" name="submit_btn">사용자 이름 저장</button>
                    </form>
                </div>
                <div class="both_layout">
                    <div>
                        비밀번호 변경
                    </div>
                    <form action="">
                        <div class="setting_pw">
                            <label for="setting_pw"></label>
                            <input type="password" placeholder="기존 비밀번호" id="setting_pw" name='password' class="" required>
                        </div>
                        <div class="setting_pw2">
                            <label for="setting_pw2"></label>
                            <input type="password" placeholder="새로운 비밀번호" id="setting_pw2" name='password' class="" required>
                        </div>
                        <button type="submit" id="setting_pw_submit" name="submit_btn">비밀번호 저장</button>
                    </form>
                </div>
                <div class="account_container">
                    <a href="/logout" class="setting_logout">로그아웃</a>
                    <div class="withdrawal">
                        탈퇴
                    </div>
                    <div class="setting_version">
                        버전 정보 Ver 1.0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/setting.js" defer="defer"></script>
{% endblock %}