{% extends 'index_base.html' %}
{% block user %}
<div class="user_container">
    <div class="user_background">
        background photo
    </div>
    <div class="user_profile">
        <div class="profile_container">
            <div class="profile_image">
                user photo
            </div>
            <div class="information_container">
                <div class="user_information">
                    <div class="user_name_friend">
                        <div class="user_name">
                            <h2>{{user['nickname']}}</h2>
                        </div>
                        <div>
                            friend count = {{user['friend_list']|length}}
                        </div>
                    </div>
                    
                    <div id="request_button" class="user_friend_button">
                        {% if session['ide'] != user['nickname'] %}
                            {% if user['user_id'] not in session_friend_list %}   
                                <button class="request_btn" user = "{{user['user_id']}}" friend_list = "{{ session_request_list }}"\
                                    value = 'not friend' data-name='{{session["login"]}}'></button>
                            {% else %}
                                <button class="request_btn" user = "{{user['user_id']}}" friend_list = "{{session_friend_list}}"\
                                     value = 'friend' data-name='{{session["login"]}}'>친구 삭제</button>                                
                            {% endif %}
                        <!-- 세션 로그인 유저일 경우 setting 이동 버튼 표시 -->
                        {% else%}
                            <a href="/setting" class="user_setting_btn">
                                <img src="../static/img/setting.png" alt="" class="top_bar_icon">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="user_introduce">
                    <h4>소개</h4>
                    <div class="user_introduce_text"></div>
                </div>
            </div>
        </div>
        <div class="both_layout">
            <div class="both_layout_friend">
                친구 목록
                {% for friend_key, friend_val in friend_dic.items()%}
                    {{ friend_val['nickname'] }}
                {% endfor %}
            </div>
            <div class="both_layout_content">
                content list
            </div>
        </div>
    </div>
</div>
<script src="../static/js/user.js" defer="defer"></script>
{% endblock %}