{% extends 'index_base.html' %}
{% block user %}
<div name="user_profile">
    <div class="user_background">
        background photo
    </div>
    <div>
        user photo
    </div>
    <div>
        <div>
            user id
        </div>
        <div>
            friend count
        </div>
        <div>
            edit profile
        </div>
        <div><a href="/setting">설정</a></div>
    </div>
    <div>
        introduce self
    </div>
    <div class="both_layout">
        <div>
            친구 목록
        </div>
        <div>
            content list
        </div>
    </div>
</div>
<!-- <script src="../static/js/user.js" defer="defer"></script> -->
{% endblock %}